<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Chat
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="chatMessagesContainer" id="chatMessagesContainer">

        </div>
        <form id="chatForm">
            <input id="chatFormMail" class="form-control inputMail" type="email" placeholder="Email">
            <input id="chatFormText" class="form-control inputMessage" type="text" placeholder="Mensaje">
            <input class="btn btn-dark" value="Enviar" type="submit">
        </form>
      </div>
    </div>
  </div>
  </div>
</div>